<div class="page-header">
    <div class="page-header-overlay">
      <div class="always-centered page-header-container w-container">
        <h2 class="page-header-title" data-ix="page-title">Plans &amp;&nbsp;Pricing</h2>
        <h2 class="page-header-title subtitle" data-ix="page-title-2">This is what we can offer you!</h2>
      </div>
      <div class="page-header-content-container w-container">
        <div class="pricing-row w-row">
          <div class="pricing-column w-col w-col-4" data-ix="fade-in-on-load">
            <div class="pricing-block">
              <div class="pricing-price-wrapper">
                <h2 class="pricing-title">Branding</h2>
                <div class="feature-divider section-divider-line"></div>
              </div>
              <ul class="pricing-feature-list w-list-unstyled">
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>Brand identity development</strong>
                  </div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>Overcome</strong> price-based <strong>competition</strong>
                  </div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text">Create your own <strong>unique</strong> identity</div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text">Produce <strong>aggressive</strong> growth</div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>Fully custom</strong> logo designs</div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text">We <strong>refresh</strong> existing brands</div>
                </li>
              </ul>
              <div class="pricing-button-wrapper"><a class="button price-button" href="contact.html">Get a quote!</a>
              </div>
            </div>
          </div>
          <div class="pricing-column w-col w-col-4" data-ix="fade-in-on-load-2">
            <div class="pricing-block">
              <div class="pricing-price-wrapper">
                <h2 class="_2 pricing-title">build website</h2>
                <div class="feature-divider section-divider-line"></div>
              </div>
              <ul class="pricing-feature-list w-list-unstyled">
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>Fully Responsive</strong> across all devices</div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text">Customized to <strong>YOUR</strong> liking</div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>Fully functional</strong> &amp; <strong>easy</strong> to navigate</div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>Elegant</strong> professional design</div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>Fast-loading</strong> &amp; <strong>secure</strong>
                  </div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>RESULTS-DRIVEN</strong>
                  </div>
                </li>
              </ul>
              <div class="pricing-button-wrapper"><a class="button price-button" href="contact.html">Get a quote!</a>
              </div>
            </div>
          </div>
          <div class="last pricing-column w-col w-col-4" data-ix="fade-in-on-load-3">
            <div class="pricing-block">
              <div class="pricing-price-wrapper">
                <h2 class="_3 pricing-title">MARKETING</h2>
                <div class="feature-divider section-divider-line"></div>
              </div>
              <ul class="pricing-feature-list w-list-unstyled">
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>Social Media Marketing</strong>
                  </div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>Grow</strong> your social media platforms</div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text">Drive <strong>traffic</strong> to your business</div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text">Target <strong>specific</strong> niche of <strong>customers</strong>
                  </div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>Increase</strong> your <strong>conversion</strong> %</div>
                </li>
                <li class="pricing-feature-list-item">
                  <div class="pricing-feature-text"><strong>Monthly management</strong>
                  </div>
                </li>
              </ul>
              <div class="pricing-button-wrapper"><a class="button price-button" href="contact.html">Get a quote!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section tint">
    <div class="container w-container">


      <div class="info-image-block"><img class="info-image" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 535px, 625px" src="/assets/Product-slider-2.png" src set="/assets/Product-slider-2-p-500x264.png 500w, /assets/Product-slider-2-p-800x422.png 800w, /assets/Product-slider-2-p-1080x570.png 1080w, /assets/Product-slider-2.png 1500w">


        <div class="_2 info-tooltip-block w-hidden-small w-hidden-tiny"></div>
        <div class="info-tooltip-block w-hidden-small w-hidden-tiny"></div>
      </div>
      <div class="w-row">
        <div class="info-column-left w-col w-col-6">
          <div class="section-title-block">
            <h2 class="section-title">all in one</h2>
            <h2 class="section-title subtitle">package!</h2>
            <div class="section-divider-line"></div>
          </div>
          <p>Ask about our <strong>ALL IN ONE</strong> <strong>PACKAGE</strong>. Your own branding, website, and marketing for <strong>ONE</strong> <strong>PRICE!</strong> This package is great for brand new companies that want to get started off on the right foot. It's also fantastic for established businesses who want to do a <strong>COMPLETE</strong> refresh.</p>
        </div>
        <div class="hide w-col w-col-6 w-hidden-small w-hidden-tiny"></div>
      </div>
    </div>
  </div>
  <div class="footer" id="contact">
    <div class="centered container w-container">
      <div class="footer-row w-row">
        <div class="footer-column w-col w-col-3">
          <div class="footer-title">Insights</div>
          <ul class="footer-list w-list-unstyled">
            <li class="footer-list-item"><a class="footer-link link" href="about-us.html">About us</a>
            </li>
            <li class="footer-list-item"><a class="footer-link link" href="pricing.html">Pricing</a>
            </li>
            <li class="footer-list-item"><a class="footer-link link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
        <div class="footer-column w-col w-col-3">
          <div class="footer-title">Location</div>
          <ul class="footer-list w-list-unstyled">
            <li class="footer-list-item">
              <div class="footer-list-text">United States</div>
            </li>
          </ul>
        </div>
        <div class="footer-column w-col w-col-3">
          <div class="footer-title">Contact</div>
          <ul class="footer-list w-list-unstyled">
            <li class="footer-list-item">
              <div class="footer-list-text"><strong>Skype us</strong>&nbsp;<a class="link footer-text-link" href="#">+31 302 20221</a>
              </div>
            </li>
            <li class="footer-list-item">
              <div class="footer-list-text"><strong>Mail us at</strong> <a class="link footer-text-link" href="#">info@geometric.nl</a>
              </div>
            </li>
            <li class="footer-list-item">
              <div class="footer-list-text"><strong>Visit us</strong> <a class="link footer-text-link" href="#">here</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="footer-column w-col w-col-3">
          <div class="footer-title">Follow us</div>
          <p>Don’t forget to follow our news, updates and activities on:</p>
          <a class="footer-gray-social-block w-inline-block" href="http://www.facebook.com" target="_blank"><img class="footer-gray-social-icon" src="images/Icon-facebook.png">
          </a>
          <a class="footer-gray-social-block w-inline-block" href="http://www.google.com" target="_blank"><img class="footer-gray-social-icon" src="images/Icon-google.png">
          </a>
          <a class="footer-gray-social-block w-inline-block" href="http://www.twitter.com" target="_blank"><img class="footer-gray-social-icon" src="images/Icon-twitter.png">
          </a>
          <a class="footer-gray-social-block w-inline-block" href="http://www.youtube.com" target="_blank"><img class="footer-gray-social-icon" src="images/Icon-youtube.png">
          </a>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="w-container">
        <div class="bottom-footer-text">Copyright © GeoMetric - Template design by <a class="footer-link" target="_blank" href="http://www.studiocorvus.com"><strong xmlns="http://www.w3.org/1999/xhtml">Studio Corvus</strong></a>
        </div>
      </div>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
<script src="/assets/my-agency-6c18e6.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->